@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-width: 3px;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 14px;
}

.bg-black {
    background-color: none !important;
}